<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>We have found your secret beer santa recipient</h1>
    <p>name: <%= @recipient_beer.name %></p>
    <p>address: <%= @recipient_beer.address %></p>
    <p>address line 2: <%= @recipient_beer.address_line2 %></p>
    <p>email: <%= @recipient_beer.email %></p>
    <p>phone: <%= @recipient_beer.phone %></p>
    <p>preferences: <%= @recipient_beer.preferences %></p>
    <p> Remember that christmas is a hectic time for postal services worldwide
      and doubly so for international shipping.
      It's wise to get your precious package sent out a month before christmas so
      your friend can enjoy the gift as he or she celebrates Christmas.
    </p>
    <p>
      Good luck with your gifting and merry christmas. Sincerely, the creators of secret-santas.
    </p>
  </body>
</html>
