<!-- TODO, add a form for <%=  @beer %> object here -->
<img class="beer" src="https://images.unsplash.com/photo-1525034687081-c702010cb70d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="">
<div class="step-box-div">
<div class="beer-forum">
<%= simple_form_for @beer do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :address_line2 %>
  <%= f.input :preferences %>
  <button><%= f.button :submit %></button>
<% end %>
</div>
</div>
